.countryCardContainer {
  height: 100%;

  margin-top: 20px;
}

.countryCardContainer header img {
  height: 16rem;
  width: 32rem;

  margin-bottom: 32px;
}

.countryCardContainer main {
  display: flex;

  flex-direction: column;
}

.countryCardContainer main > div {
  display: grid;

  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  text-align: left;
}

.countryCardContainer main > div:not(:first-child) {
  margin-top: 16px;
}

@media (max-width: 420px) {
  .countryCardContainer header img {
    height: 8rem;
    width: 16rem;

    margin-bottom: 16px;
  }

  .countryCardContainer main > div {
    font: 600 1.2rem 'JetBrains Mono', sans-serif;
  }
}
