.searchContainer {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer form {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer form input {
  height: 64px;
  width: 100%;

  font: 600 1.8rem 'JetBrains Mono', sans-serif;

  padding: 0 1.6rem;
  margin-right: 5px;

  background: #f5f8fa;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  outline: none;
  color: var(--search-text);

  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.searchContainer form input:hover {
  border: 2px solid #17d6eb;
  box-shadow: 0 0 5pt 0.5pt #17d6eb;
}

.searchContainer form input:focus {
  border: 2px solid #17d6eb;
  box-shadow: 0 0 5pt 0.5pt #17d6eb;
}

.searchContainer form button {
  background: transparent;
  border: 0;

  font-size: 0px;

  outline: 0;
}

.searchContainer form button img {
  height: 48px;
  width: 48px;
}

@media (max-width: 420px) {
  .searchContainer form input {
    height: 48px;

    font: 600 1.4rem 'JetBrains Mono', sans-serif;
    padding: 0 1rem;
    border-radius: 16px;
  }
}
