.searchContainer {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchContainer div {
  width: 100%;
}

.searchContainer label {
  font: 600 1.2rem 'JetBrains Mono', sans-serif;
}

.searchcontainer label {
  font: 600 1.2rem 'JetBrains Mono', sans-serif;
}

.searchContainer input {
  width: 100%;
  font: 600 1.8rem 'JetBrains Mono', sans-serif;

  color: var(--search-text);

  transition: 0.2s;
  -webkit-transition: 0.2s;
}

@media (max-width: 420px) {
  .searchContainer input {
    height: 48px;

    font: 600 1.4rem 'JetBrains Mono', sans-serif;
    padding: 0 1rem;
    border-radius: 16px;
  }
}
